body {
  font-family: "Arial", sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  color: #333;
  font-size: 36px;
}

h2 {
  color: #555;
  font-size: 24px;
}

h3 {
  color: #007bff;
  font-size: 22px;
}

.container {
  background-color: #fff;
  padding: 20px 40px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: center;
}

.item-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.item-image {
  width: 100px;
  height: 100px;
  margin: 10px;
  border: 2px solid transparent;
  cursor: pointer;
  transition: transform 0.2s;
}

.item-image:hover {
  transform: scale(1.1);
}

.selected {
  border-color: #007bff;
}

button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

button:hover {
  background-color: #0056b3;
}

button:focus {
  outline: none;
}

.start-button,
.show-answer-button,
.next-button {
  display: inline-block;
  margin-top: 20px;
}

.show-answer-button {
  background-color: #ffc107;
}

.show-answer-button:hover {
  background-color: #e0a800;
}

.next-button {
  background-color: #28a745;
}

.next-button:hover {
  background-color: #218838;
}
